.table {
  display: table;
}

.table-header-group {
  display: table-row;
  font-weight: bold;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
  padding-top: .5em;
  padding-right: .25em;
  padding-left: .25em;
  padding-bottom: .5em;
}

.role-ok {
  color: green;
}

.role-danger {
  color: red;
}
